
body {
  background-image: url('sfondo-calcio5.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
h1, h2, h3 {
  text-align: center;
  color: #c62828;
}
.categorie {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
button {
  padding: 10px;
  background-color: #1565c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 200px;
  font-weight: bold;
}
button:hover {
  background-color: #0d47a1;
}
.tab-content {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}
img.logo {
  display: block;
  margin: auto;
  max-width: 150px;
}
